apiVersion: v1
kind: PersistentVolume
metadata:
  name: $pv_name
  labels:
    app.kubernetes.io/name: kafka
spec:
  storageClassName: $storage_class_name
  capacity:
    storage: $persistence_size
  accessModes:
    - ReadWriteOnce
  hostPath:
    # Note: as of July 2023, /n0 on the mgmt node in multiple mgmt nodes environments is in the root partition.
    path: "/n0/cluster-mgmt/kafka"
    type: DirectoryOrCreate
