{
  "DhcpDdns": {
    "ip-address": "127.0.0.1",
    "port": 53001,
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/var/run/kea/kea-ddns-ctrl-socket"
    },
    {% if kea_tsig_key and kea_tsig_name %}
    "tsig-keys": [{
        "name": "{{ kea_tsig_name }}",
        "algorithm": "hmac-sha512",
        "secret": "{{ kea_tsig_key }}"
        {% set tsig_ref = '"key-name": "' ~ kea_tsig_name ~ '",' %}
    }],
    {% else %}
    {% set tsig_ref = '' %}
    {% endif %}
    "forward-ddns": {
      "ddns-domains": [
        {
          "name": "{{ domain }}.",
          {{ tsig_ref | safe }}
          "dns-servers": [
            {
              "ip-address": "{{ dns_ip }}",
              "port": 54
            }
          ]
        }
      ]
    },
    {% if reverse_dns %}
    "reverse-ddns": {
      "ddns-domains": [
      {% for reverse_ip in reverse_dns %}
        {
          "name": "{{ reverse_ip }}.in-addr.arpa.",
          "dns-servers": [
            {
              {{ tsig_ref | safe }}
              "ip-address": "{{ dns_ip }}",
              "port": 54
            }
          ]
        }{% if not loop.last %},{% endif %}
      {% endfor %}
      ]
    },
    {% endif %}
    "loggers": [
      {
        "name": "kea-dhcp-ddns",
        "output-options": [
            {
                "output": "stdout",
                "pattern": "%-5p %m\n"
            }
        ],
        "severity": "INFO",
        "debuglevel": 0
      }
    ]
  }
}