{
  "Dhcp4": {
    "option-def": [
      {
        "name": "vendor-encapsulated-options-raw",
        "code": 43,
        "space": "dhcp4",
        "type": "binary",
        "encapsulate": ""
      },
      {
        "name": "dell-ztd-provision-url",
        "code": 240,
        "space": "dhcp4",
        "type": "string",
        "encapsulate": ""
      }
    ],
    "interfaces-config": {
      "interfaces": [
        {% for interface in config.listen_interfaces %}
        "{{ interface }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    },
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/var/run/kea/kea4-ctrl-socket"
    },
    "lease-database": {
      "type": "memfile",
      "lfc-interval": 600,
      "persist": true,
      "name": "/var/lib/kea/kea-leases4.csv",
      "max-row-errors": 0
    },
    "dhcp-ddns": {
      "enable-updates": true
    },
    "ddns-qualifying-suffix": "{{ config.domain }}",
    "ddns-override-client-update": true,
    "ddns-update-on-renew": true,
    "expired-leases-processing": {
      "reclaim-timer-wait-time": 10,
      "flush-reclaimed-timer-wait-time": 25,
      "hold-reclaimed-time": 3600,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },
    "valid-lifetime": {{ config.default_reserved_lease_duration }},
    "next-server": "{{ config.ip }}",
    "option-data": [
      {
        "name": "domain-name-servers",
        "data": "{{ config.dns_servers | join(', ') }}"
      },
      {
        "name": "domain-name",
        "data": "{{ config.domain }}"
      },
      {
        "name": "ntp-servers",
        "data": "{{ config.ntp_servers | join(', ') }}"
      },
      {
        "name": "domain-search",
        "data": "{{ config.domain }}"
      },
      {
        "name": "tftp-server-name",
        "data": "{{ config.ip }}"
      }
    ],
    "client-classes": [
      {% for client_class in config.client_classes %}
      {
        "name": "{{ client_class }}"
      },
      {% endfor %}
      {
        "name": "server-ipxe-chainloader",
        "test": "substring(option[77].hex,0,4) == 'iPXE'",
        "option-data": [
          {
            "code": 67,
            "data": "boot-rocky.ipxe"
          }
        ]
      },
      {
        "name": "server_pxe",
        "test": "member('type_sr')",
        "option-data": [
          {
            "code": 67,
            "data": "undionly.kkpxe"
          }
        ]
      },
      {
        "name": "unreserved_class",
        "test": "member('UNKNOWN')",
        "valid-lifetime": {{ config.default_dynamic_lease_duration }}
      }
    ],
    "hooks-libraries": [],
    "subnet4": [
{% for subnet in config.subnets %}
        {
            "comment": "subnet {{ subnet.name }}",
            "subnet": "{{ subnet.subnet }}",
            "id": {{ subnet.subnet_id }},
            "pools": [
{% if subnet.dynamic_range %}
                {
                    "client-class": "KNOWN",
                    "pool": "{{ subnet.subnet.network_address + 1 }}-{{ subnet.dynamic_range.start_ip - 1 }}"
                },
                {
                    "pool": "{{ subnet.dynamic_range.start_ip }}-{{ subnet.dynamic_range.end_ip }}",
                    "comment": "{{ subnet.dynamic_range.comment }}"
                }
{% else %}
                {
                    "client-class": "KNOWN",
                    "pool": "{{ subnet.subnet.network_address + 1 }}-{{ subnet.subnet.broadcast_address - 2 }}"
                }
{% endif %}
            ],
            "option-data": [
                {
                    "name": "routers",
                    "data": "{{ subnet.gateway }}"
                }
            ],
            {% if subnet.lease_duration %}
            "valid-lifetime": {{ subnet.lease_duration }},
            {% endif %}
            "reservations": [
{% for host in subnet.hosts %}
                {
                    "hw-address": "{{ host.mac }}",
                    {% if host.dhcp_options %}
                    "option-data": [
                    {% for code, value in host.dhcp_options | dictsort %}
                        {
                            "code": {{ code }},
                            "data": "{{ value }}"
                        }{% if not loop.last or host.dhcp_vs_options %},{% endif %}
                    {% endfor %}
                    {% if host.dhcp_vs_options %}
                        {
                            "name": "vendor-encapsulated-options-raw",
                            "code": 43,
                            "data": "{{ host.encode_vs_options() }}"
                        }
                    {% endif %}
                    ],
                    {% endif %}
                    "ip-address": "{{ host.ip }}",
                    "hostname": "{{ host.hostname }}",
                    "client-classes": [ "{{ host.client_class }}" ]
                }{% if not loop.last %},{% endif %}
{% endfor %}
            ]
        }{% if not loop.last %},{% endif %}
{% endfor %}
    ],
    "loggers": [
      {
        "name": "kea-dhcp4",
        "output_options": [{"output": "stdout", "pattern": "%-5p %m\n"}],
        "severity": "INFO",
        "debuglevel": 99
      },
      {
        "name": "kea-dhcp4.packets",
        "output_options": [{"output": "stdout", "pattern": "%-5p %m\n"}],
        "severity": "INFO",
        "debuglevel": 99
      },
      {
        "name": "kea-dhcp4.options",
        "output_options": [{"output": "stdout", "pattern": "%-5p %m\n"}],
        "severity": "INFO",
        "debuglevel": 99
      }
    ]
  }
}
