#!/usr/bin/env bash

SCRIPT_PATH=$(dirname "$0")
cd "$SCRIPT_PATH"
source "../pkg-common.sh"

set -e

# Use a job so we can get the grafana admin password from a k8s secret
# delete old pods and jobs
$KUBECTL delete job -n prometheus grafana-setup --ignore-not-found=true
$KUBECTL delete pods -n prometheus --selector=job-name=grafana-setup --ignore-not-found=true

# Patch the config and prepare the job.
# Make a copy - the svc IP could change after a failed deploy.
cp -f grafana-setup.yaml grafana-setup.yaml.updated

alpine_containerd_tag={{ alpine_containerd_tag }}
sed -i "s/\$TAG/${alpine_containerd_tag}/" ./grafana-setup.yaml.updated
$KUBECTL create configmap grafana-setup-scripts -n prometheus \
         --from-file=./grafana-setup.sh --dry-run=client -oyaml | $KUBECTL apply -f -
$KUBECTL apply -f grafana-setup.yaml.updated
if ! $KUBECTL wait --for=condition=complete -n prometheus job/grafana-setup --timeout=120s; then
  echo "Grafana account and folder permission updates failed:"
  $KUBECTL logs -n prometheus job/grafana-setup
  exit 1
else
  $KUBECTL delete job -n prometheus grafana-setup
  echo "Grafana account and folder permission updates succeeded."
fi

