#!/usr/bin/env bash

SKIP_IF_INCREMENTAL=1

set -e

SCRIPT_PATH=$(dirname "$0")
cd "$SCRIPT_PATH"
source "../pkg-common.sh"

if [ -z "$namespace" ]; then
  namespace="{{ namespace }}"
fi
system_namespace="{{ system_namespace }}"

ns=$($KUBECTL get namespace "${namespace}" --ignore-not-found)
if [[ "$ns" ]]; then
  echo "namespace ${namespace} already exists"
else
  $KUBECTL create namespace "${namespace}"
  echo "namespace ${namespace} created"
fi

if [ "${namespace}" != "${system_namespace}" ]; then
  $KUBECTL label namespace "${namespace}" "${USER_NAMESPACE_LABEL}=" --overwrite
else
  $KUBECTL label namespace "${namespace}" "${SYSTEM_NAMESPACE_LABEL}=" --overwrite
fi

function create_secret() {
  local application="$1"
  local secret_name="$2"
  local tls_file_prefix="$3"
  if [[ "{{ recreate_secret }}" == "true" ]]; then
    $KUBECTL delete secret "${secret_name}" -n "${namespace}" --ignore-not-found=true
    echo "${secret_name} deleted from namespace ${namespace}"
  fi

  secret=$($KUBECTL get secret "${secret_name}" -n "${namespace}" --ignore-not-found)
  if [[ "$secret" ]]; then
    $KUBECTL get secret "${secret_name}" -n "${namespace}" -o=jsonpath="{.data.tls\.crt}" | base64 -d >"./${tls_file_prefix}.crt"
    issuer=$(openssl x509 -in "./${tls_file_prefix}.crt" -noout -issuer)
    expected_issuer="issuer=CN = $cluster_service_domain"
    if [[ "$issuer" == $expected_issuer* ]]; then
      echo "${secret_name} already exists in namespace ${namespace}"
      return
    else
      $KUBECTL delete secret "${secret_name}" -n "${namespace}" --ignore-not-found=true
      echo "${secret_name} deleted from namespace ${namespace} since issuer is different: '$issuer' vs '$expected_issuer'"
    fi
  fi

  mgmt_host="localhost"
  if [[ "{{ is_kind_cluster }}" == "false" ]]; then
    mgmt_host=$(hostname)
  fi
  sed "s/{mgmt_node_hostname}/$mgmt_host/g" <./ssl.conf.template >./${tls_file_prefix}.ssl.conf
  sed -i -e "s/{application}/$application/g" ./${tls_file_prefix}.ssl.conf
  sed -i -e "s/{cluster_service_domain}/$cluster_service_domain/g" ./${tls_file_prefix}.ssl.conf
  sed -i -e "s/{service_domain}/$service_domain/g" ./${tls_file_prefix}.ssl.conf
  openssl req -x509 -newkey rsa:4096 -sha256 -days 3650 -nodes \
    -keyout "./${tls_file_prefix}.key" \
    -out "./${tls_file_prefix}.crt" \
    -config ./${tls_file_prefix}.ssl.conf
  chmod a+r "./${tls_file_prefix}.key"
  $KUBECTL create secret tls "${secret_name}" \
    --key "./${tls_file_prefix}.key" \
    --cert "./${tls_file_prefix}.crt" \
    -n "${namespace}"
  rm -f "./${tls_file_prefix}.key"
  echo "${secret_name} created in namespace ${namespace}"
}

create_secret "cluster-server" "cluster-server-grpc-secret-v2" "$namespace-tls"
