#!/usr/bin/env bash

SCRIPT_PATH=$(dirname "$0")
cd "$SCRIPT_PATH"

set -e

if [ -d /kind ] ; then
  echo "Running in kind, skipping NFS setup"
  exit 0
fi

if [ -z "${namespace}" ]; then
  namespace="{{ ns }}"
  if [ -z "${namespace}" ]; then
    namespace=$SYSTEM_NAMESPACE
  fi
fi

if [ "{{ skip_internal_volumes_setup }}" == "false" ]; then
  ./init-volumes-cmd.sh $namespace
fi
