basic:
  ilo_license: xxxxx-xxxxx-xxxxx-xxxxx
  name: testmock
  ntp_servers: []
  root_server: rootserver
# Management network internal configuration
mgmt_network_int_config:
  ip_allocation:
    parentnet: {{ mgmt_subnet }}
    allocation_strategy: v2
    asn_start: 64000
    asn_count: 12
  mgmt_dns:
  - {{ dns_ip }}
  mgmt_gateway_overwrite: {{ mgmt_gateway }}
  mgmt_ip_blocks:
  - {{ mgmt_subnet }}
  mgmt_netmask_per_rack: /25
  mgmt_gateway_nth_address_per_rack: 254
  mgmt_pod_cidr:
  - 100.64.0.0/15
  mgmt_service_cidr: 100.66.0.0/15
# Cluster network (100G) configuration
cluster_network_config:
  cluster_asns:
  - count: 128
    start: '65001.1924'
  cluster_ip_block: 10.250.248.0/21
  cluster_ip_blocks: []
  cluster_memx_subnet_size: 256
  cluster_swarmx_subnet_size: 0
  cluster_netmask_per_rack: /24
  cluster_vip_count: 1
  cluster_cs_vip_prefix: ""
  cluster_xconn_count: 12
  uplinks: []
# Exterior network configuration
exterior_network_config:
  prefixes:
  - 10.0.0.0/8
