Name,Role,Device,Rack,Unit,IPMI default DNS,IPMI IP,IPMI MAC,IPMI username,IPMI password,MGMT port IP,MGMT port MAC,Root username,Root password,Vendor,Node group,Stamp
{% for server in servers -%}
{% set loop_index = loop.index -%}
{% set ipmi_ip = server.ip.rsplit('.', 1)[0] + '.' + ((server.ip.split('.')[-1] | int) + 100) | string -%}
{% set ipmi_mac = "01:00:00:00:00:%02d"|format(loop_index) -%}
{% set mgmt_mac = "00:00:00:00:00:%02d"|format(loop_index) -%}
{{ server.hostname }},{{ server.role }},{{ server.device|default('SR') }},1,1,{{server.hostname}},{{ipmi_ip}},{{ipmi_mac}},ADMIN,root,{{server.ip}},{{mgmt_mac}},root,root,{{server.vendor|default('SM')}},0,
{% endfor -%}
sc-r1rb1-s5,WK,SR,1,5,sc-r1rb1-s1-ipmi,253.253.8.132,3c:ec:ef:6f:ad:38,ADMIN,root,253.253.8.20,3c:ec:ef:6f:ac:8a,root,root,SM,0,
sc-r1rb1-s6,MX,SR,1,6,sc-r1rb1-s1-ipmi,253.253.8.133,3c:ec:ef:6f:ad:3d,ADMIN,root,253.253.8.21,3c:ec:ef:6f:ac:92,root,root,SM,0,
sc-r1rb1-1gsw,MG,SW,1,17,,,,,,253.253.0.140,,admin,root,AR,0,
sc-r1rb1-100gsw32,MX,SW,1,18,,,,,,253.253.0.141,,admin,root,AR,0,
cs1,CS,SY,1,11,,,,,,253.253.8.22,,admin,admin,CS,0,
cs2,CS,SY,1,12,,,,,,253.253.8.23,,admin,admin,CS,0,
