name,role,type,location.rack,location.unit,ipmi_info.name,ipmi_info.ip,ipmi_info.mac,ipmi_credentials.user,ipmi_credentials.password,management_info.ip,management_info.mac,management_credentials.user,management_credentials.password,vendor,location.node_group
cs303-wse001-sx-sr03,SX,SR,1,26,idrac-62DP704,172.28.153.132,,root,PV4YWMMNYY34,172.28.103.45,,root,5cerebras,DL,0
sc-r1rb1-1gsw,MG,SW,1,22,,,,,,172.28.0.140,aa:bb:cc:dd:ee:ff,admin,CerebrasColo,AR,0
sc-r15ra8-1gsw-dell,MG,SW,1,23,,,,,,172.28.136.251,aa:bb:cc:dd:ee:ff,admin,CerebrasColo,DL,0