Name,Role,Device,Rack,Unit,IPMI default DNS,IPMI IP,IPMI MAC,IPMI username,IPMI password,MGMT port IP,MGMT port MAC,Root username,Root password,Node group,Vendor,Extra,Stamp
memx-node-2,MX,SR,1,12,ILO2M234202YC,172.28.211.150,5c:ed:8c:3a:52:cc,Administrator,WXDPTTC5,172.28.211.40,5c:ed:8c:2a:70:ce,root,5cerebras,0,HP,,
switch-1,MX,SW,1,1,,,,,,172.28.143.189,,admin,admin,0,AR,,
system-1,CS,SY,1,1,,,,,,172.28.195.80,,,,0,CS,,
system-2,CS,SY,1,1,,,,,,172.28.195.179,,,,0,CS,,
