# Python compiled objects
*.pyc
__pycache__

# pytest artifacts
.pytest_cache

# Override golden-data
tests/push_button_1/OVERRIDE_REFERENCE_DATA/
tests/push_button_1/REFERENCE_DATA_ORIGINAL/

# Tmp files
*.html
assets/
tmp/

# Python venv
cbmon_venv/
