[Unit]
Description=Installs an iptables SNAT rule for nginx 100G traffic
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/nginx-snat.sh
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target