#!/usr/bin/env bash

SCRIPT_PATH=$(dirname "$0")
cd "$SCRIPT_PATH"
source "../pkg-common.sh"

# Note: This entire file can be removed after all clusters' ceph are going with hostnetwork
# Deploy webhook admission registration to kind clusters for testing purposes
if ! has_multiple_mgmt_nodes && ! [ -d /kind ]; then
  echo "Skip deploying webhook admission registration"
  exit 0
fi

set -e

deploy() {
  secret_name="kube-webhook"
  secret_namesapce="kube-system"
  TLS_CRT=$(kubectl -n ${secret_namesapce} get secret ${secret_name} -o jsonpath='{.data.tls\.crt}' --ignore-not-found)

  if [ -z "${TLS_CRT}" ]; then
    echo "ERROR: Secret ${secret_name} does not exist in ${secret_namesapce}."
    echo "Please deploy the kube-webhook app before proceeding."
    exit 1
  fi

  TLS_CRT=${TLS_CRT} \
    envsubst < webhook-config-template.yaml > webhook-config.yaml

  kubectl apply -f webhook-config.yaml
}

validate() {
  # Validates the webhook is working correctly by creating a no-op pod and
  # checking that the networks annotation was mutated by the webhook.

  kubectl create ns rook-ceph &>/dev/null || true
  kubectl delete pod -n rook-ceph webhook-validate --ignore-not-found &>/dev/null || true
  cat <<EOF | kubectl apply -f-
apiVersion: v1
kind: Pod
metadata:
  namespace: rook-ceph
  name: webhook-validate
  annotations:
    k8s.v1.cni.cncf.io/networks: rook-ceph/rook-public-net
spec:
  nodeSelector:
    # storage-type:ceph is preferred selector but the following works for KIND test
    node-role.kubernetes.io/control-plane: ""
  containers:
  - name: main
    image: registry.local/busybox:1.34.1
    command: ["sleep", "3600"]
  tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
EOF
  if ! kubectl wait --for=condition=ready pod/webhook-validate --timeout=30s -n rook-ceph ; then
    echo "error: failed to launch webhook validation pod" >&2
    exit 1
  fi
  nad_value=$(kubectl get pod -n rook-ceph -ojsonpath='{.metadata.annotations.k8s\.v1\.cni\.cncf\.io/networks}' webhook-validate)
  if [ "$nad_value" == "rook-ceph/rook-public-net" ] || [ -z "$nad_value" ] ; then
    echo "error: failed to validate webhook, expected modified net-attach-value, got: $nad_value" >&2
    exit 1
  fi
  kubectl delete pod -n rook-ceph webhook-validate
}

deploy
validate